body, .panel-body{
	background: Lavender;
}
#content{
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	width: 40%;
	border-radius: 10px;
	padding: 5px;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.panel-body{
	display:none;
	padding: 5px;
}
.panel{
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 2px;
}
.panel-success > .panel-heading{
	background-image: linear-gradient(to bottom, #6abc6a 0%, DarkSeaGreen 100%);
}
.panel-danger > .panel-heading{
	background-image: linear-gradient(to bottom, #f4cabc 0%, #f1c0af 100%);
}
.label, .btn{
	float:right;
}
a{
	color: black;
}
a:hover{
	color: blue;
}
.tab-content{
	margin-top: 5px;
}
.alert-block{
	z-index: 9999;
	position: relative;
	bottom: 5px;
	right: 5px;
}
.alert-container{
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 20%;
	z-index: 9999;
}
