body, .panel-body{
	background: Lavender;
}
#services{
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	width: 40%;
	border-radius: 10px;
	padding: 5px;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.panel-body{
	display:none;
}
.panel{
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 2px;
}
.panel-success > .panel-heading{
	background: DarkSeaGreen;
}
.panel-danger > .panel-heading{
	background: #f4cabc;
}
.label{
	float:right;
}
a{
	color: black;
}
a:hover{
	color: blue;
}
